[submodule "pygeoapi"]
	path = pygeoapi
	url = git@github.com:geopython/pygeoapi.git
[submodule "geomet"]
	path = geomet
	url = git@github.com:iboudaouara/geomet-copy.git 
[submodule "msc-pygeoapi"]
	path = msc-pygeoapi
	url = git@github.com:ECCC-MSC/msc-pygeoapi.git
